<div class="auth-container">
  <div class="auth-form">
    <h1>Reģistrēties</h1>
    <form>
      <div class="form-group">
        <label>Vārds uzvārds</label>
        <input type="email" required>
      </div>
      <div class="form-group">
        <label>E-pasts</label>
        <input type="email" required>
      </div>
      <div class="form-group">
        <label>Talrunis</label>
        <input type="tel" required>
      </div>
      <div class="form-group">
        <label>Parole</label>
        <input type="password" required>
      </div>
      <div class="form-group">
        <label>Atkārtot paroli</label>
        <input type="password" required>
      </div>
    </form>
    <p>Jau ir konts? <a href="/login">Ielogoties</a></p>
    <button class="btn">Reģistrēties</button>
  </div>
</div>
