<div class="auth-container">
  <div class="auth-form">
    <div class="back-link">
      <a routerLink="/">
        <i class="fas fa-arrow-left"></i> Atgriezties uz sākumlapu
      </a>
    </div>

    <h1>Reģistrēties</h1>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label for="name">Vārds uzvārds</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          [appValidationError]="isSubmitted()"
          placeholder="Ievadiet vārdu un uzvārdu">
      </div>

      <div class="form-group">
        <label for="email">E-pasts</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          [appValidationError]="isSubmitted()"
          placeholder="Ievadiet e-pasta adresi">
      </div>

      <div class="form-group">
        <label for="phone">Tālrunis</label>
        <input
          type="tel"
          id="phone"
          formControlName="phone"
          [appValidationError]="isSubmitted()"
          placeholder="Ievadiet tālruņa numuru">
      </div>

      <div class="form-group">
        <label for="password">Parole</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          [appValidationError]="isSubmitted()"
          appPasswordToggle
          placeholder="Ievadiet paroli">
      </div>

      <div class="form-group">
        <label for="password_confirmation">Atkārtot paroli</label>
        <input
          type="password"
          id="password_confirmation"
          formControlName="password_confirmation"
          [appValidationError]="isSubmitted()"
          appPasswordToggle
          placeholder="Atkārtoti ievadiet paroli">
      </div>
    </form>

    <div class="auth-links-container">
      <p>Jau ir konts? <a routerLink="/login">Ielogoties</a></p>
    </div>

    <button class="btn" [appButtonLoader]="isLoading()" (click)="onSubmit()">
      Reģistrēties
    </button>
  </div>
</div>
