<div class="modal">
  <div class="modal-content">
    <h2>{{ isEditing ? 'Rediģēt Lietotāju' : 'Pievienot Lietotāju' }}</h2>

    <form [formGroup]="userForm">
      <div class="form-group">
        <label for="name">Vārds Uzvārds</label>
        <input id="name" type="text" formControlName="name">
      </div>

      <div class="form-group">
        <label for="email">E-pasts</label>
        <input id="email" type="email" formControlName="email">
      </div>

      <div class="form-group">
        <label for="phone">Tālrunis</label>
        <input id="phone" type="tel" formControlName="phone">
      </div>

      <div class="form-group">
        <label for="role">Loma</label>
        <select id="role" formControlName="role">
          <option disabled value="">Izvēlies lietotāja lomu</option>
          <option [value]="RoleEnum.ADMIN">Administrators</option>
          <option [value]="RoleEnum.MODERATOR">Moderators</option>
          <option [value]="RoleEnum.CLIENT">Klients</option>
        </select>
      </div>

      <div class="form-actions">
        <button type="button" class="btn-secondary" (click)="onClose()">Atcelt</button>
        <button type="submit" class="btn-primary" (click)="onSubmit()">Saglabāt</button>
      </div>
    </form>
  </div>
</div>
