<div class="container">
  <div class="dashboard">
    <div class="dashboard-header">
      <h1>Produktu Kategoriju Pārvaldība</h1>
      <div class="actions">
        <div class="search">
          <input type="search" placeholder="Meklēt kategoriju...">
        </div>
        <button class="btn-primary" (click)="createOrEdit()">+ Pievienot Kategoriju</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="data-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nosaukums</th>
          <th>Apraksts</th>
          <th>Slug</th>
          <th>Izveidota</th>
          <th>Produktu skaits</th>
          <th>Darbības</th>
        </tr>
        </thead>
        <tbody>
        @for (category of categories(); track category.id) {
            <tr class="interactive-element">
              <td>{{ category.id }}</td>
              <td>{{ category.name }}</td>
              <td>{{ category.description }}</td>
              <td>{{ category.slug }}</td>
              <td>{{ category.created_at }}</td>
              <td></td>
              <td>
                <div class="actions">
                  <button class="btn-icon" title="Dzēst">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
        }
        </tbody>
      </table>
    </div>

  </div>
</div>
