<header class="main-header">
  <div class="container">
    <nav class="main-nav">
      <div class="logo">
        <a href="/">
          <span></span>
        </a>
      </div>

      <div class="nav-items">
        <ul class="nav-list">
          <li><a href="/" class="active">Sākums</a></li>
        </ul>
      </div>

      <div class="nav-actions">
        @if (this.isLoggedIn()) {
          <a href="/profile" class="auth-btn profile">Profils</a>
          <a (click)="logout()" class="auth-btn logout">Izlogoties</a>
        } @else {
          <a href="/login" class="auth-btn login">Ielogoties</a>
          <a href="/register" class="auth-btn signup">Reģistrēties</a>
        }
        <a class="mobile-menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </nav>
  </div>
</header>
