<header class="main-header">
  <div class="container">
    <nav class="main-nav">
      <div class="logo">
        <a href="/">
          <span></span>
        </a>
      </div>

      <div class="nav-items">
        <ul class="nav-list">
          <li><a href="/admin/users" class="active">Lietotāji</a></li>
        </ul>
      </div>

      <div class="nav-actions">
        <a (click)="logout()" class="auth-btn login">Izlogoties</a>
        <a class="mobile-menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </nav>
  </div>
</header>
