<div class="container">
  <div class="dashboard">
    <div class="dashboard-header">
      <h1>Lietotāju Pārvaldība</h1>
      <div class="actions">
        <div class="search">
          <input type="search" placeholder="Meklēt lietotāju...">
        </div>
        <button class="btn-primary">+ Pievienot Lietotāju</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="data-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Vārds Uzvārds</th>
          <th>E-pasts</th>
          <th>Tālrunis</th>
          <th>Reģistrēts</th>
          <th>Status</th>
          <th>Darbības</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <div class="actions">
              <button class="btn-icon" title="Rediģēt">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn-icon" title="Dzēst">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Vajadzes uztaisit pagination -->
  </div>
</div>
