<div class="container">
  <div class="dashboard">
    <div class="dashboard-header">
      <h1>Lietotāju Pārvaldība</h1>
      <div class="actions">
        <div class="search">
          <input type="search" placeholder="Meklēt lietotāju...">
        </div>
        <button class="btn-primary" (click)="openUserForm()">+ Pievienot Lietotāju</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="data-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Vārds Uzvārds</th>
          <th>E-pasts</th>
          <th>Tālrunis</th>
          <th>Reģistrēts</th>
          <th>Loma</th>
          <th>Darbības</th>
        </tr>
        </thead>
        <tbody>
          @for (user of userData(); track user.id) {
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>{{formatCreatedAt(user.created_at)}}</td>
              <td>{{getRoleName(user.role)}}</td>
              <td>
                <div class="actions">
                  <button class="btn-icon" (click)="openUserForm(user)" title="Rediģēt">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn-icon" (click)="deleteUser(user.id)" title="Dzēst">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  </div>
</div>

@if (isModalOpen()) {
  <app-user-form-modal
    [user]="selectedUser"
    (close)="modalService.close()"
    (saved)="onUserSaved()">
  </app-user-form-modal>
}
