.toast-container {
  .ngx-toastr {
    font-family: $font-stack;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-md;
    padding: 16px;
    background-position: 15px center;
    opacity: 1;
    border-left: 4px solid;

    background-image: none !important;

    &.toast-success, &.toast-info, &.toast-warning, &.toast-error {
      padding-left: 15px;
    }

    &:hover {
      box-shadow: $box-shadow-lg;
      transform: translateY(-2px);
    }
  }

  .toast-success {
    background-color: #f1f9f7;
    border-left-color: $success-color;
    color: darken($success-color, 10%);
  }

  .toast-error {
    background-color: #fdf3f2;
    border-left-color: $danger-color;
    color: darken($danger-color, 10%);
  }

  .toast-info {
    background-color: #f0f8fa;
    border-left-color: $info-color;
    color: darken($info-color, 10%);
  }

  .toast-warning {
    background-color: #fef8f2;
    border-left-color: $warning-color;
    color: darken($warning-color, 10%);
  }

  .toast-title {
    font-weight: 600;
    margin-bottom: 5px;
  }

  .toast-message {
    font-size: 14px;
  }

  .toast-close-button {
    color: inherit;
    opacity: 0.5;
    text-shadow: none;

    &:hover {
      color: inherit;
      opacity: 0.8;
    }
  }

  .toast-progress {
    height: 3px;
    opacity: 0.7;
  }
}
